.frequently-asked-questions {
  padding: 80px 0 93px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions {
    padding: 24px 0 0 0;
    background: var(--light-gradient);
  }
}
.frequently-asked-questions .txt.mobile {
  display: none;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions .txt.mobile {
    display: block;
    text-align: center;
  }
}
.frequently-asked-questions .wrap {
  max-width: 692px;
  padding: 0;
}
.frequently-asked-questions__info {
  background: var(--light-gradient);
  border-radius: var(--border-radius-medium);
  padding: 44px 60px 50px;
  margin-top: 64px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__info {
    padding: 48px 36px 36px;
    margin-top: 0;
  }
}
.frequently-asked-questions__info .description {
  max-width: 475px;
  margin: 0 auto;
  text-align: center;
}
.frequently-asked-questions__info .description a {
  text-wrap: nowrap;
}
.frequently-asked-questions__info .title {
  color: transparent;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  line-height: 39px;
  text-align: center;
  margin-bottom: 17px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__info .title {
    margin-bottom: 0;
  }
}
.frequently-asked-questions__list {
  padding-left: 0;
}
.frequently-asked-questions__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__title {
    margin-bottom: 0;
    color: transparent;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.frequently-asked-questions__questions {
  padding: 0 40px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__questions {
    padding: 0 10px;
  }
}
.frequently-asked-questions__item {
  border-bottom: 1px solid var(--light-gray);
  position: relative;
}
.frequently-asked-questions__item .question-block {
  padding: 33px 52px 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__item .question-block {
    padding: 24px 60px 24px 0;
  }
}
.frequently-asked-questions__item .question-block:hover {
  cursor: pointer;
}
.frequently-asked-questions__item .question-block .number {
  font-weight: normal;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__item .question-block .number {
    display: none;
  }
}
.frequently-asked-questions__item .question-block .vopros {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
@media screen and (max-width: 500px) {
  .frequently-asked-questions__item .question-block .vopros {
    font-size: 14px;
    line-height: 16px;
  }
}
.frequently-asked-questions__item .otvet {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 24px 26px;
  padding-right: 52px;
}