.our-advantages {
  background: var(--light-gradient);
  padding: 80px 0 0 0;
}
@media screen and (max-width: 500px) {
  .our-advantages {
    padding-top: 36px;
    background: var(--bg-light-gray);
  }
}
.our-advantages__title {
  margin-bottom: 10px;
  color: transparent;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  background-size: 82%;
  line-height: 39px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .our-advantages__title {
    line-height: 32px;
    background-size: 95%;
    margin-bottom: 0;
  }
}
.our-advantages__subtitle {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 500px) {
  .our-advantages__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 13px;
  }
}
.our-advantages__subtitle .mobile {
  display: none;
}
@media screen and (max-width: 500px) {
  .our-advantages__subtitle .mobile {
    display: block;
  }
}
.our-advantages__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1030px) {
  .our-advantages__advantages {
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .our-advantages__advantages {
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .our-advantages__advantages {
    gap: 0;
  }
}
.our-advantages__content {
  max-width: 1000px;
  margin: 80px auto 0;
  padding-bottom: 28px;
}
@media screen and (max-width: 500px) {
  .our-advantages__content {
    margin-top: 48px;
  }
}
.our-advantages__list {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 28px;
}
@media screen and (max-width: 500px) {
  .our-advantages__list {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.our-advantages__item {
  -webkit-box-flex: calc(50% - 40px);
  -ms-flex: calc(50% - 40px);
  flex: calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (max-width: 1030px) {
  .our-advantages__item {
    -webkit-box-flex: calc(50% - 20px);
    -ms-flex: calc(50% - 20px);
    flex: calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .our-advantages__item {
    -webkit-box-flex: calc(50% - 10px);
    -ms-flex: calc(50% - 10px);
    flex: calc(50% - 10px);
  }
}
@media screen and (max-width: 500px) {
  .our-advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.our-advantages__item:nth-child(2n) {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.our-advantages__item:first-child .number {
  margin-right: -3px;
}
@media screen and (max-width: 500px) {
  .our-advantages__item:first-child .number {
    margin-left: 20px;
    margin-bottom: -50px;
  }
}
.our-advantages__item .text {
  margin-top: 24px;
}
@media screen and (max-width: 1000px) {
  .our-advantages__item .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .our-advantages__item .text {
    margin-top: 17px;
  }
}
.our-advantages__item .number {
  font-family: var(--font-unbounded);
  font-size: 120px;
  font-weight: 500;
  line-height: 148.8px;
  color: var(--light-blue);
  margin-right: -16px;
}
@media screen and (max-width: 500px) {
  .our-advantages__item .number {
    margin-right: 0;
    margin-left: 0px;
    margin-bottom: -38px;
  }
}
.our-advantages__item .text-container {
  max-width: 400px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-medium);
  padding: 24px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--white);
  position: relative;
}
.our-advantages__item .text-container .icon {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 40px;
  color: var(--pink);
}
.our-advantages__item .subtitle {
  color: transparent;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 82%;
  padding-right: 42px;
}
@media screen and (max-width: 1000px) {
  .our-advantages__item .subtitle {
    background-size: auto;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
  }
}