.photoes-tour {
  background-color: var(--blue);
  padding: 80px 0;
}
.photoes-tour.inner-page {
  background-color: var(--bg-light-gray);
  padding: 40px 0;
}
.photoes-tour.inner-page .photoes-tour__title {
  color: var(--blue);
}
.photoes-tour.inner-page .swiper-button-next::before, .photoes-tour.inner-page .swiper-button-prev::before {
  color: var(--blue);
}
@media screen and (max-width: 500px) {
  .photoes-tour {
    padding: 37px 0 0;
  }
}
.photoes-tour__title {
  color: var(--white);
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .photoes-tour__title {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 500px) {
  .photoes-tour .wrap,
  .photoes-tour .swiper {
    padding: 0;
  }
}
.photoes-tour .wrap img,
.photoes-tour .swiper img {
  max-height: 500px;
  height: 100%;
  max-width: 998px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.photoes-tour .__slider > .swiper {
  max-width: calc(100% - 82px);
}
@media screen and (max-width: 500px) {
  .photoes-tour .__slider > .swiper {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .photoes-tour .__slider {
    max-width: 100%;
  }
}
.photoes-tour .swiper-pagination {
  bottom: -64px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
  .photoes-tour .swiper-pagination {
    bottom: -36px;
  }
}
.photoes-tour .swiper-button-next {
  right: -21px;
}
@media screen and (max-width: 500px) {
  .photoes-tour .swiper-button-next {
    right: 0;
  }
}
.photoes-tour .swiper-button-prev {
  left: -21px;
}
@media screen and (max-width: 500px) {
  .photoes-tour .swiper-button-prev {
    left: 0;
  }
}