.reviews-year .__slider > .swiper {
  max-width: 100%;
}
.reviews-year .swiper {
  padding: 0;
}
.reviews-year__dropdown {
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--light-blue);
  background-color: var(--bg-light-gray);
}
.reviews-year__dropdown-wrapper {
  position: relative;
  display: none;
}
@media screen and (max-width: 768px) {
  .reviews-year__dropdown-wrapper {
    display: block;
  }
}
.reviews-year__dropdown-wrapper span[class^=icon-] {
  color: var(--light-blue);
  position: absolute;
  right: 32px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 24px;
  z-index: -1;
}
.reviews-year__dropdown-wrapper select {
  background: unset;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.reviews-year__dropdown-wrapper select option {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.reviews-year__controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--font-unbounded);
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  color: var(--light-blue);
  gap: 24px;
  padding-left: 24px;
  border-bottom: 1px solid var(--light-blue);
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .reviews-year__controls-wrapper {
    display: none;
  }
}
.reviews-year__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews-year__controls li.year:hover {
  cursor: pointer;
}
.reviews-year__controls li.year.active {
  color: var(--blue);
  text-decoration: underline;
}
.reviews-year__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reviews-year__slide .popular-destinations__item.little {
  -webkit-box-flex: calc(25% - 40px);
  -ms-flex: calc(25% - 40px);
  flex: calc(25% - 40px);
  margin: 10px;
}