.schedule {
  border: 1px solid var(--light-blue);
  padding: 0;
}
.schedule .vopros {
  border-bottom: 1px solid var(--light-blue);
  padding: 10px 24px;
}
.schedule .question {
  position: relative;
  border-bottom: 1px solid var(--light-blue);
}
.schedule .question:last-child {
  border-bottom: none;
}
.schedule .otvet {
  padding: 0;
}
.schedule .otvet li {
  padding: 10px 24px;
  border-bottom: 1px solid var(--light-blue);
  text-align: center;
}
@media screen and (max-width: 500px) {
  .schedule .otvet li {
    line-height: 25px;
  }
}
.schedule .otvet li:last-child {
  border-bottom: none;
}
.schedule .otvet li:hover {
  background-color: var(--bg-light-gray);
  cursor: pointer;
}
.schedule .otvet li span[class^=icon-] {
  vertical-align: bottom;
  margin-right: 10px;
}
.schedule .otvet li span[class^=icon-]::before {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
}
.schedule .plus {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  color: var(--light-blue);
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .schedule .plus {
    top: 6px;
  }
}
.schedule .plus.turn::before {
  content: "\e902";
}