@media screen and (max-width: 500px) {
  .seo-block {
    margin: 40px 0;
  }
}
.seo-block__title {
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (max-width: 500px) {
  .seo-block__title {
    font-weight: 700;
  }
}