.tour-program {
  padding: 40px 0;
}
.tour-program .attention {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  padding: 38.5px 16.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tour-program .attention .attention-mark {
  background-color: var(--pink);
  border-radius: 50%;
  color: var(--white);
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}
.tour-program__list {
  padding: 0;
}
.tour-program__title {
  color: var(--blue);
  margin: 24px 0 40px;
  text-align: center;
  text-transform: uppercase;
}
.tour-program .circle {
  top: 16px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  right: 24px;
}
.tour-program .circle.turn {
  top: 16px;
}
.tour-program .otvet {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 0 20px;
}
.tour-program .block-more-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px;
}
.tour-program .block-more-details__description {
  margin: 27px 0;
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
}
.tour-program .block-more-details__img {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  margin-top: 6px;
  max-width: 355px;
}
.tour-program .block-more-details__img img {
  border-top-right-radius: var(--border-radius-little);
  max-width: 355px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.tour-program .block-more-details__img .swiper-pagination {
  bottom: -30px;
}
.tour-program .block-more-details__img .__slider {
  padding: 0;
}
.tour-program .block-more-details__img .__slider > .swiper {
  max-width: 100%;
}
.tour-program .block-more-details__img .swiper {
  padding: 0;
  position: static;
  margin-bottom: 30px;
}
.tour-program .block-more-details__img .swiper-button-next, .tour-program .block-more-details__img .swiper-button-prev {
  width: 40px;
  height: 40px;
}
.tour-program .block-more-details__img .swiper-button-next::before, .tour-program .block-more-details__img .swiper-button-prev::before {
  font-size: 40px;
}
.tour-program .block-more-details .short_descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 26px;
  gap: 38px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.tour-program .block-more-details .short_descriptions li {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  color: var(--dark-grey);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tour-program .block-more-details .short_descriptions li span[class^=icon-] {
  font-size: 40px;
  color: var(--blue);
}
.tour-program .question {
  margin-bottom: 16px;
}
.tour-program .question-block {
  padding: 22.5px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--bg-light-gray);
  border-radius: var(--border-radius);
}
@media screen and (max-width: 500px) {
  .tour-program .question-block {
    padding: 24px 60px 24px 0;
  }
}
.tour-program .question-block:hover {
  cursor: pointer;
}
.tour-program .question-block h4,
.tour-program .question-block h2 {
  color: var(--light-blue);
}
.tour-program .question-block .subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: var(--dark-grey);
}
.tour-program .question-block .number {
  font-weight: normal;
}
@media screen and (max-width: 500px) {
  .tour-program .question-block .number {
    display: none;
  }
}
.tour-program .question-block .vopros {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
@media screen and (max-width: 500px) {
  .tour-program .question-block .vopros {
    font-size: 14px;
    line-height: 16px;
  }
}