.tour-description {
  margin: 40px auto;
  max-width: 1056px;
}
.tour-description h4 {
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .tour-description h4 {
    font-family: var(--font-unbounded);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
  }
}
.tour-description h4 span[class^=icon-] {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: var(--violet-50);
  position: relative;
  margin-right: 16px;
  vertical-align: middle;
}
.tour-description h4 span[class^=icon-]::before {
  color: var(--white);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tour-description ul {
  padding-left: 26px;
}
.tour-description ul li {
  list-style-type: disc;
}
.tour-description p {
  margin-bottom: 22px;
}