.type-tour {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 3;
  border-top-left-radius: var(--border-radius-medium);
}
.type-tour span {
  width: 60px;
  height: 60px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .type-tour span {
    width: 40px;
    height: 40px;
  }
}
.type-tour span::before {
  color: var(--white);
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}