<div class="popular-destinations__item @@class">
    <div class="popular-destinations__image">
        <img src="css/img/popular-destinations/@@image" alt="@@alt" srcset="">
        <div class="type-tour">
            <link rel="stylesheet" href="css/other/type-tour.css">
            <!-- можно передавать типы туров и проходить по ним циклом - это легче сразу на php реализовать -->
            @@include('type-tour.html', {"class": "icon-truck", "color": "var(--dark-green-50)"})
            @@include('type-tour.html', {"class": "icon-ship", "color": "var(--dark-blue-50)"})
        </div>
    </div>
    <div class="popular-destinations__about-block">
        <div class="about">
            <link rel="stylesheet" href="css/other/promotion.css">
            <div class="promotion-block">
                <!-- можно передавать типы акций и проходить по ним циклом - это легче сразу на php реализовать -->
                @@include('promotion.html', {"color": "var(--pink)", "text": "HIT!"})
                @@include('promotion.html', {"color": "var(--violet)", "text": "%%"})
            </div>
            <p class="date"><span class="icon-calendar"></span>@@date</p>
        </div>
        <div class="popular-destinations__content">
            <h4 class="popular-destinations__subtitle">@@title</h4>
            <p class="popular-destinations__text">@@text</p>
            <div class="popular-destinations__price">
                <div class="price-block">
                    <p class="discount">@@discount</p>
                    <p class="price">@@price</p>
                </div>
                <a href="@@link" class="button popular-destinations__button">@@button</a>
            </div>
        </div>
    </div>
</div>