<div class="tours-by-type-recreation__item @@class">
    <div class="tours-by-type-recreation__image">
        <img src="css/img/tours-by-type-recreation/@@image" alt="@@alt" srcset="">
        <div class="type-tour">
            <link rel="stylesheet" href="css/other/type-tour.css">
            <!-- можно передавать типы туров и проходить по ним циклом - это легче сразу на php реализовать -->
            @@include('type-tour.html', {"class": "icon-truck", "color": "var(--dark-green-50)"})
            @@include('type-tour.html', {"class": "icon-ship", "color": "var(--dark-blue-50)"})
            @@include('type-tour.html', {"class": "icon-truck", "color": "var(--dark-green-50)"})
            @@include('type-tour.html', {"class": "icon-ship", "color": "var(--dark-blue-50)"})
        </div>
        <div class="tours-by-type-recreation__about">
            <p class="subtitle">@@subtitle</p>
            <p class="count-tours">@@count_tours</p>
        </div>
        <a class="tours-by-type-recreation__link" href="@@link"></a>
    </div>
</div>