.how-booking {
    background: var(--light-gradient);
    padding: 80px 0;

    &::after {
        content: "";
        background-image: url(../../css/img/mountain4.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        height: 189px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }

    .wrap {
        max-width: 1100px;
    }

    &__title {
        color: transparent;
        background: var(--main-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        text-transform: uppercase;
        background-size: 82%;
        line-height: 39px;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        margin: 19px auto 40px;
        max-width: 800px;
    }

    &__advantages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex: calc(100% / 3 - 40px);
        max-width: 300px;


        .text-container {
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius-medium);
            padding: 24px;
            background-color: var(--white);
            margin-top: -30px;
            position: relative;
        }

        .number {
            font-family: var(--font-unbounded);
            font-size: 100px;
            font-weight: 500;
            line-height: 124px;
            color: transparent;
            background: linear-gradient(180deg, rgba(255, 188, 228, 0.5) 0%, rgba(201, 188, 255, 0.5) 100%);
            background-clip: text;
        }

        .subtitle {
            font-family: var(--font-unbounded);
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            color: transparent;
            background: var(--main-gradient);
            background-clip: text;
            background-size: 98%;
            margin-bottom: 21px;
        }
    }
}