.our-team {
    margin-top: 64px;

    .__slider>.swiper {
        max-width: 1160px;
    }

    .__slider {
        @media screen and (max-width: 460px) {
            max-width: 280px;
        }
    }

    .swiper {
        padding: 0 80px;

        @media screen and (max-width: 900px) {
            padding: 0 35px;
        }

        @media screen and (max-width: 500px) {
            padding: 0 5px;
        }
    }

    .swiper-button-prev {
        left: -11px;

        @media screen and (max-width: 500px) {
            left: -45px;
        }

        @media screen and (max-width: 350px) {
            left: -30px;
        }
    }

    .swiper-button-next {
        right: -11px;

        @media screen and (max-width: 500px) {
            right: -45px;
        }

        @media screen and (max-width: 350px) {
            right: -30px;
        }
    }

    &__bg-guide-photo {
        min-height: 200px;
        object-fit: cover;
        border-top-left-radius: var(--border-radius-medium);
        border-top-right-radius: var(--border-radius-medium);
        box-shadow: var(--box-shadow);
    }

    &__guide-photo {
        margin-bottom: -200px;
        position: relative;
        z-index: 1;

        @media screen and (max-width: 500px) {
            min-height: 230px;
            object-fit: cover;
            object-position: left;
        }
    }

    &__guide-photo-container {
        max-width: 305px;
        margin: 0 10px 0 10px;
    }

    &__swiper-button-prev,
    &__swiper-button-next {
        color: var(--blue);
    }

    &__subtitle,
    &__title {
        text-align: center;
        z-index: 1;
        position: relative;
    }

    &__title {
        margin-bottom: 12px;
        color: transparent;
        background: var(--main-gradient);
        background-clip: text;
        text-transform: uppercase;
        background-size: 82%;
        line-height: 39px;

        @media screen and (max-width: 500px) {
            margin-bottom: 0;
            background-size: auto;
        }
    }

    &__subtitle {
        margin-bottom: 48px;
        color: var(--black);

        @media screen and (max-width: 500px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 11px;
        }
    }

    &__guide {
        color: var(--blue);
        margin: 24px 0 16px 0;

        @media screen and (max-width: 500px) {
            margin: 24px 0 13px 0;
        }
    }

    &__item {
        min-width: 260px;
        color: var(--black);
        position: relative;
        border-radius: var(--border-radius-medium);
        background-color: transparent;

        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__text-container {
        background-color: var(--white);
        border-bottom-left-radius: var(--border-radius-medium);
        border-bottom-right-radius: var(--border-radius-medium);
        padding: 1px 32px 32px;
        box-shadow: var(--box-shadow);
        max-width: 305px;
        margin: 0 10px 10px 10px;

        @media screen and (max-width: 500px) {
            padding: 1px 16px 16px;
        }
    }

    &__info {
        display: flex;
        margin: 24px 0 18px;
        gap: 10px;

        @media screen and (max-width: 500px) {
            margin: 18px 0 18px;
        }

        span {
            &::before {
                color: var(--blue);
                font-size: 23px;
            }
        }
    }
}