.photoes-tour {
    background-color: var(--blue);
    padding: 80px 0;

    &.inner-page {
        background-color: var(--bg-light-gray);
        padding: 40px 0;

        .photoes-tour__title {
            color: var(--blue);
        }

        .swiper-button-next::before, .swiper-button-prev::before {
            color: var(--blue);
        }
    }

    @media screen and (max-width: 500px) {
        padding: 37px 0 0;
    }

    &__title {
        color: var(--white);
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;

        @media screen and (max-width: 500px) {
            margin-bottom: 12px;
        }
    }

    .wrap,
    .swiper {
        @media screen and (max-width: 500px) {
            padding: 0;
        }

        img {
            max-height: 500px;
            height: 100%;
            max-width: 998px;
            width: 100%;
            object-fit: cover;
        }
    }

    .__slider>.swiper {
        max-width: calc(100% - 82px);

        @media screen and (max-width: 500px) {
            max-width: 100%;
        }
    }

    .__slider {
        @media screen and (max-width: 500px) {
            max-width: 100%;
        }
    }

    .swiper-pagination {
        bottom: -64px;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 500px) {
            bottom: -36px;
        }
    }

    .swiper-button-next {
        right: -21px;

        @media screen and (max-width: 500px) {
            right: 0;
        }
    }

    .swiper-button-prev {
        left: -21px;

        @media screen and (max-width: 500px) {
            left: 0;
        }
    }
}