.popular-destinations {
    background: var(--light-gradient);
    position: relative;
    padding-bottom: 100px;

    @media screen and (max-width: 500px) {
        background: var(--bg-light-gray);
        padding-bottom: 24px;
    }

    &::after {
        content: "";
        background-image: url("../../css/img/mountain2.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        height: 189px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    &.inner-page {
        &::after {
            display: none;
        }
    }

    .button-sort {
        margin-bottom: 20px;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        @media screen and (max-width: 1000px) {
            gap: 20px;
        }

        @media screen and (max-width: 500px) {
            gap: 8px;
            align-items: flex-start;
        }
    }

    &__item {
        position: relative;
        display: block;
        box-shadow: var(--box-shadow);
        border-bottom: 4px solid transparent;
        transition: var(--transition);
        border-radius: var(--border-radius-medium);
        overflow: hidden;
        max-width: 560px;
        min-width: 130px;
        flex: 1;

        @media screen and (max-width: 630px) {
            border-bottom: 1px solid #988FBA;
        }

        &:hover {
            box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.17);
            cursor: pointer;
            background: var(--white-gradient) padding-box, var(--main-gradient) border-box;
        }

        &.little {
            flex: calc(100% / 3 - 40px);
            max-width: 260px;
            min-width: 235px;

            @media screen and (max-width: 1000px) {
                flex: calc(100% / 2 - 40px);
                min-width: 200px;
            }

            @media screen and (max-width: 500px) {
                min-width: 135px;
            }

            .popular-destinations__about-block {
                .about {
                    //height: 56px;

                    @media screen and (max-width: 500px) {
                        height: auto;
                    }

                    .date {
                        margin: 0;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 22px;
                        flex-grow: 1;
                        justify-content: center;
                    }
                }
            }

            .popular-destinations__button {
                max-width: unset;
            }

            .popular-destinations__price {
                flex-direction: column;
                margin-top: 22px;

                .price-block {
                    margin-bottom: 16px;
                    display: flex;
                    gap: 12px;

                    @media screen and (max-width: 1000px) {
                        gap: 0;
                        flex-direction: column;
                    }
                }
            }

            .popular-destinations__content {
                padding: 24px 16px;

                p.txt {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .popular-destinations__image {
                min-height: 200px;

                img {
                    min-height: 200px;
                }

                @media screen and (max-width: 500px) {
                    min-height: 104px;

                    img {
                        min-height: 104px;
                    }
                }
            }
        }

        &.full {
            width: 100%;
            max-width: 100%;
            flex: 100%;

            .popular-destinations__image {
                max-height: 400px;
                min-height: 104px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    object-fit: cover;
                }

            }

            .popular-destinations__about-block {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                max-width: 300px;
                width: 100%;
                background-color: var(--white);
                height: 100%;

                @media screen and (max-width: 768px) {
                    position: relative;
                    max-width: 100%;
                }

                .about {
                    .promotion-block {
                        @media screen and (max-width: 630px) {
                            height: auto;
                        }
                    }

                    @media screen and (max-width: 630px) {
                        flex-direction: row;
                    }

                    .date {
                        @media screen and (max-width: 768px) and (min-width: 631px) {
                            justify-content: flex-end;
                            margin-right: 32px;
                        }

                        @media screen and (max-width: 630px) {
                            height: auto;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 27px;
                        }
                    }

                }
            }

            .popular-destinations__price {
                display: block;
                justify-content: unset;
                align-items: unset;
                margin-top: 0;

                .price-block {
                    display: flex;
                    gap: 5px;
                    margin: 51px 0 16px 0;

                    @media screen and (max-width: 840px) {
                        margin-top: 16px;
                    }

                    @media screen and (max-width: 630px) {
                        flex-direction: row;
                    }

                    .discount {
                        @media screen and (max-width: 630px) {
                            font-size: var(--discount-font-size);
                            font-weight: var(--discount-font-weight);
                            line-height: var(--discount-line-height);
                        }
                    }

                    .price {
                        @media screen and (max-width: 630px) {
                            font-size: var(--price-font-size);
                            font-weight: var(--price-font-weight);
                            line-height: var(--price-line-height);
                        }
                    }
                }

                .popular-destinations__button {
                    @media screen and (max-width: 630px) {
                        max-width: 100%;
                        padding: 16.5px 0;
                        text-transform: none;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 27px;
                    }
                }
            }

            .popular-destinations__content {
                p.txt {
                    @media screen and (max-width: 500px) {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }

                h4 {
                    @media screen and (max-width: 500px) {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 27px;
                    }
                }
            }
        }

        &.with_schedule {
            .popular-destinations__about-block {
                max-width: 400px;

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }
            }

            .popular-destinations__image {
                max-height: 544px;
                min-height: auto;

                img {
                    @media screen and (max-width: 768px) {
                        min-height: 210px;
                    }
                }

            }

            .popular-destinations__subtitle {
                font-size: var(--txt-font-size);
                font-weight: var(--txt-font-weight);
                line-height: var(--txt-line-height);
                text-align: center;
            }

            .popular-destinations__price {
                .price-block {
                    margin: 40px 0 16px;
                }
            }

            .popular-destinations__button {
                max-width: unset;
            }
        }
    }

    &__image {
        min-height: 104px;

        img {
            object-fit: cover;
            min-height: 104px;
        }
    }

    &__title {
        padding: 62px 0;
        color: transparent;
        background: var(--main-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        text-transform: uppercase;
        background-size: 82%;
        line-height: 32px;
        text-align: center;

        @media screen and (max-width: 500px) {
            padding: 36px 0 28px;
            background-size: auto;
        }
    }

    &__content {
        padding: 32px;
        background-color: var(--white);

        @media screen and (max-width: 630px) {
            padding: 12px 8px;
        }

        p.txt {
            @media screen and (max-width: 500px) {
                display: none;
            }
        }

        h4 {
            margin-bottom: 8px;

            @media screen and (max-width: 500px) {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        .popular-destinations__button {
            max-width: 202px;
        }

        @media screen and (max-width: 880px) {
            flex-direction: column;
        }

        @media screen and (max-width: 630px) {
            align-items: flex-start;
        }

        @media screen and (max-width: 500px) {
            margin-top: 0;
        }

        .price-block {
            @media screen and (max-width: 880px) {
                display: flex;
                gap: 5px;
                margin-bottom: 16px;
            }

            @media screen and (max-width: 630px) {
                flex-direction: column;
            }
        }
    }

    &__about-block {
        .about {
            height: 60px;

            display: flex;
            justify-content: space-between;
            background-color: var(--bg-gray);

            @media screen and (max-width: 630px) {
                flex-direction: column;
                height: auto;
            }


            .date {
                font-family: var(--font-sans);
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
                display: flex;
                align-items: center;
                flex-grow: 1;
                justify-content: flex-end;
                margin-right: 32px;

                @media screen and (max-width: 768px) {
                    margin-right: auto;
                    justify-content: center;
                }

                @media screen and (max-width: 630px) {
                    height: 40px;
                    margin: 0 auto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                }

                span {
                    margin-right: 4px;
                    vertical-align: text-top;

                    &::before {
                        background: var(--main-gradient);
                        font-size: x-large;
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }

    }
}