.reviews-year {
    .tab {
        overflow: hidden;
    }

    .tabcontent {
        display: none;
    }

    .__slider>.swiper {
        max-width: 100%;
        padding-bottom: 25px;
    }

    .__slider {
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
    }

    .swiper {
        padding: 0;

        .swiper-pagination {
            bottom: 0;
        }
    }

    &__title {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            color: var(--light-blue);
            text-transform: uppercase;
            font-family: var(--font-unbounded);
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 16px;
        }
    }

    &__dropdown {
        width: 100%;
        padding: 16px 32px;
        border-radius: var(--border-radius);
        border: 1px solid transparent;
        border-bottom: 1px solid var(--light-blue);
        background-color: var(--bg-light-gray);
    }

    &__dropdown-wrapper {
        position: relative;

        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }

        span[class^="icon-"] {
            color: var(--light-blue);
            position: absolute;
            right: 32px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 24px;
        }

        select {
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            background: none;
            background-color: var(--bg-light-gray);

            option {
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
            }
        }
    }

    &__controls-wrapper {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-left: 24px;
        border-bottom: 1px solid var(--light-blue);
        margin-bottom: 16px;

        button,
        p {
            font-family: var(--font-unbounded);
            font-size: 16px;
            font-weight: 600;
            line-height: 40px;
            color: var(--light-blue);
            background-color: inherit;
            border: none;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .year {
        &:hover {
            cursor: pointer;
            color: var(--blue);
        }

        &.active {
            color: var(--blue);
            text-decoration: underline;
        }
    }

    &__slide {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;


        .popular-destinations__item.little {
            flex: calc(100% / 4 - 40px);
            margin: 10px;
        }


    }
}