.tours-by-type-recreation {
    margin-bottom: 24px;

    @media screen and (max-width: 500px) {
        background-color: var(--bg-light-gray);
    }

    .button-border {
        margin: 24px auto 0;
        display: block;
        max-width: 128px;

        @media screen and (max-width: 500px) {
            max-width: 288px;
        }
    }

    &__block,
    &__block-more {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            gap: 8px;
        }
    }

    &__block-more {
        display: none;
        margin-top: 40px;

        @media screen and (max-width: 1024px) {
            margin-top: 8px;
        }
    }

    &__item {
        flex: calc(25% - 40px);
        border-radius: var(--border-radius-medium);
        overflow: hidden;
        max-width: 260px;
        min-width: 132px;

        @media screen and (max-width: 768px) {
            flex: calc(50% - 8px);
        }

        &:first-child {
            .tours-by-type-recreation__image {
                img {
                    object-position: 35%;
                }
            }
        }


        &:nth-child(4) {
            .tours-by-type-recreation__image {
                img {
                    object-position: 50%;
                }
            }
        }

    }

    &__image {
        max-width: 260px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            object-fit: cover;
            height: 380px;
            object-position: 88%;

            @media screen and (max-width: 768px) {
                height: 240px;
            }
        }

        .type-tour {
            span {
                @media screen and (max-width: 1150px) {
                    width: 40px;
                    height: 40px;
                }

                @media screen and (max-width: 390px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    &__title {
        padding: 62px 0 38px;
        color: transparent;
        background: var(--main-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        text-transform: uppercase;
        line-height: 32px;
        text-align: center;

        @media screen and (max-width: 500px) {
            padding: 36px 0 28px;
        }
    }

    &__about {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 16px;

        .subtitle {
            font-family: var(--font-unbounded);
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
            color: var(--white);
            margin-bottom: 16px;

            @media screen and (max-width: 500px) {
                font-size: 20px;
                line-height: 20px;
            }
        }

        .count-tours {
            font-family: var(--font-unbounded);
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0.07em;
            color: var(--white);
            padding: 8px 16px;
            background-color: var(--dark-violet);
            max-width: 90px;
            border-radius: var(--border-radius);
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}