.tour-description {
    margin: 40px auto;
    max-width: 1056px;

    h4 {
        margin-bottom: 22px;

        @media screen and (max-width: 768px) {
            font-family: var(--font-unbounded);
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        span[class^="icon-"] {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-color: var(--violet-50);
            position: relative;
            margin-right: 16px;
            vertical-align: middle;

            &::before {
                color: var(--white);
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    ul {
        padding-left: 26px;

        li {
            list-style-type: disc;
        }
    }

    p {
        margin-bottom: 22px;
    }
}