<div class="popular-destinations__item @@class">
    <div class="popular-destinations__image">
        <img src="css/img/popular-destinations/@@image" alt="@@alt" srcset="">
        @@if (type_tour) {
            <div class="type-tour">
                <link rel="stylesheet" href="css/other/type-tour.css">
                <!-- можно передавать типы туров и проходить по ним циклом - это легче сразу на php реализовать -->
                @@include('type-tour.html', {"class": "icon-truck", "color": "var(--dark-green-50)"})
                @@include('type-tour.html', {"class": "icon-ship", "color": "var(--dark-blue-50)"})
            </div>
        }
    </div>
    <div class="popular-destinations__about-block">
        <div class="about">
            <link rel="stylesheet" href="css/other/promotion.css">
            <div class="promotion-block">
                <!-- можно передавать типы акций и проходить по ним циклом - это легче сразу на php реализовать -->
                 @@if (promotionHIT) {
                    @@include('promotion.html', {"color": "var(--pink)", "text": "HIT!"})
                 }
                 @@if (promotionProcent) {
                    @@include('promotion.html', {"color": "var(--violet)", "text": "%%"})
                 }
            </div>
            <p class="date"><span class="icon-calendar"></span>@@date</p>
        </div>
        <div class="popular-destinations__content">
            <h4 class="popular-destinations__subtitle">@@title</h4>
            @@if (text) {
                <p class="txt">@@text</p>
            }
            @@if (dates_of_event === true) {
                <ul class="schedule txt accordion open_one">
                    <link rel="stylesheet" href="css/other/schedule.css">
                    @@include('schedule.html', {
                        "month_year":"Сентябрь 2024", 
                        date_price: [
                        '10.09.2024 - 20.09.2024', 
                        '23.09.2024 - 27.09.2024', 
                        '23.09.2024 - 27.09.2024', 
                        ], 
                    })
                    @@include('schedule.html', {
                        "month_year":"Октябрь 2024", 
                        date_price: [
                        '10.10.2024 - 20.10.2024', 
                        '23.10.2024 - 27.10.2024', 
                        '23.10.2024 - 27.10.2024', 
                        ], 
                    })
                </ul>
            }
            <div class="popular-destinations__price">
                <div class="price-block">
                    <p class="discount">@@discount</p>
                    <p class="price">@@price</p>
                </div>
                <a href="@@link" class="button popular-destinations__button">@@button</a>
            </div>
        </div>
    </div>
</div>