<li class="question">
    <span class="circle plus"><span class="cross"></span></span>
    <div class="question-block">
        <h2 class="number">@@num</h2>
        <h4>день</h4>
        <p class="subtitle">@@question</p>
    </div>
    <div class="otvet block-more-details">
        <div class="block-more-details__description">
            <p class="txt">@@answer</p>
            <ul class="short_descriptions">
                <!-- нужно передавать нужные иконки вместе с текстом short_descriptions -->
                 <!-- short_descriptions нужно проверку не более 3 шт  -->
                @@for (var i = 0; i < short_descriptions.length; i++) {
                    <li class="txt-s"><span class="icon-tour-bus"></span>`+short_descriptions[i]+`</li>
                }
            </ul>
        </div>
        <div class="block-more-details__img">
            <div class="__slider photoes-program-tour__slider">
                <div class="swiper photoes-program-tour__swiper" id="pptour_@@num">
                    <div class="swiper-wrapper photoes-program-tour__swiper-wrapper">
                        @@for (var i = 0; i < img.length; i++) {
                            <div class="swiper-slide">
                                <img src="css/img/tour-program/`+img[i]+`"/>
                            </div>
                        }
                    </div>
                    <div id="prev_pptour_@@num" class="swiper-button-prev swiper-button-prev_pptour_@@num icon-main-left"></div>
                    <div id="next_pptour_@@num" class="swiper-button-next swiper-button-next_pptour_@@num icon-main-right"></div>
                    <div id="pagination_pptour_@@num" class="swiper-pagination swiper-pagination_pptour_@@num"></div>
                </div>
            </div>
        </div>
    </div>
</li>