<li class="question">
    <span class="circle plus"><span class="cross"></span></span>
    <div class="question-block">
        <h2 class="number">@@num</h2>
        <h4>день</h4>
        <p class="subtitle">@@question</p>
    </div>
    <div class="otvet block-more-details">
        <div class="block-more-details__description">
            <p class="txt">@@answer</p>
            <ul class="short_descriptions">
                <!-- нужно передавать нужные иконки вместе с текстом short_descriptions -->
                 <!-- short_descriptions нужно проверку не более 3 шт  -->
                @@for (var i = 0; i < short_descriptions.length; i++) {
                    <li class="txt-s"><span class="icon-tour-bus"></span>`+short_descriptions[i]+`</li>
                }
            </ul>
        </div>
        <div class="block-more-details__img">
            <img src="css/img/tour-program/@@img"/>
        </div>
       
    </div>
</li>