<div class="popular-destinations">
    <div class="wrap">
      <link rel="stylesheet" href="css/other/popular-destinations.css">
      <h2 class="popular-destinations__title">Популярные направления</h2>
      <div class="popular-destinations__block">
        @@include('components/component/popular-destinations.html', {
        "class": "full", 
        "image": "img1.jpeg", 
        "type_tour": true, 
        "alt": "Гармония Алтая", 
        "date": "10 дней", 
        "title": "Гармония Алтая", 
        "text": "Комфорт-тур. Ваше путешествие будет не только интересным и насыщенным, но и комфортным.", 
        "dates_of_event": false, 
        "discount": "100 000 ₽.", 
        "price": "98 000 ₽.", 
        "link": "#", 
        "button": "Подробнее"})

        @@include('components/component/popular-destinations.html', {
        "class": "", 
        "image": "img2.png", 
        "type_tour": true, 
        "alt": "Гармония Алтая", 
        "date": "10 дней", 
        "title": "Гармония Алтая", 
        "text": "Комфорт-тур. Ваше путешествие будет не только интересным и насыщенным, но и комфортным.", 
        "dates_of_event": false, 
        "discount": "100 000 ₽.", 
        "price": "98 000 ₽.", 
        "link": "#", 
        "button": "Подробнее"})

        @@include('components/component/popular-destinations.html', {
        "class": "", 
        "image": "img2.png", 
        "type_tour": true, 
        "alt": "Гармония Алтая", 
        "date": "10 дней", 
        "title": "Гармония Алтая", 
        "text": "Комфорт-тур. Ваше путешествие будет не только интересным и насыщенным, но и комфортным.", 
        "dates_of_event": false, 
        "discount": "100 000 ₽.", 
        "price": "98 000 ₽.", 
        "link": "#", 
        "button": "Подробнее"})
      </div>
    </div>
  </div>