<header class="header" id="main-header">
  <div class="wrap">
    <div class="header-menu-container">
      <div class="header-operating-mode">
        <p class="operating-mode-description">Работаем: Пн-Пт 9:00–19:00</p>
      </div>
      <div class="header-contacts">
        <div class="contact-email icon-mail-open">
          <p>info@tur-altai.com</p>
          <a href="mailto:info@tur-altai.com"></a>
        </div>
        <div class="contact-tel icon-phone">
          <p>+7 903 947-96-38</p>
          <a href="tel:+7 903 947-96-38"></a>
        </div>
        <div class="contact-messengers">
          <a class="vk icon-vk" href=""></a>
          <a class="youtube icon-youtube" href=""></a>
          <a class="whatsapp icon-whatsapp" href=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-block">
    <div class="wrap">
      <div class="header-menu">
        <div class="block-logo">
          <a class="link" href="/">
            <p class="logo-text">Кит тур</p>
            <p class="description-title">Алтай с&nbsp;комфортом</p>
          </a>
        </div>
        <div class="menu-list">
          <ul class="menu-list__list">
            <li class="menu-list__item_all_tours">
              <a class="menu-list__link button-gradient" href="#all_tours">
                Все туры<span class="icon-down-little"></span>
              </a>
            </li>
            <li class="menu-list__item"><a href="http://">Расписание туров</a></li>
            <li class="menu-list__item"><a href="http://">Города выезда</a></li>
            <li class="menu-list__item"><a href="http://">Туристам</a></li>
            <li class="menu-list__item"><a href="http://">Отзывы</a></li>
            <li class="menu-list__item"><a href="http://">Блог</a></li>
            <li class="menu-list__item"><a href="http://">О нас</a></li>
          </ul>
        </div>
      </div>

      <div id="block-tours" class="block-tours">
        <a href="" id="close-catalog-menu"><span class="icon-close close-catalog-menu"></span></a>
        <div class="block-tours__block">
          <div class="block-tours__title">
            <h4>Каталог туров</h4>
            <a class="link" href="">Все туры</a>
          </div>
          <ul class="block-tours__list">
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>Туры по России</p>
                <span class="icon-right-little"></span>
              </a>
              <ul class="block-tours__list_item__inner">
                <li><a href="">Барнаул и Алтайский край</a></li>
                <li><a href="">Золотое Кольцо</a></li>
                <li><a href="">Калининград</a></li>
                <li><a href="">Крым и Черное море</a></li>
                <li><a href="">Москва</a></li>
                <li><a href="">Санкт-Петербург</a></li>
                <li><a href="">Новосибирск</a></li>
                <li><a href="">Горный Алтай</a></li>
                <li><a href="">Омск</a></li>
                <li><a href="">Томск</a></li>
                <li><a href="">Казань</a></li>
              </ul>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>Зарубежные туры</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>По количеству дней</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>Коллекции</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>По региону</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>По виду отдыха</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>Сезоны</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
            <li class="block-tours__list_item">
              <a class="link" href="">
                <p>Месяцы</p>
                <span class="icon-right-little"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="block-tours__logo">
          <img src="css/img/bg-reviews.jpeg" />
        </div>
      </div>
    </div>
  </div>
</header>