<header class="header" id="main-header">
  <div class="wrap">
    <div class="header-menu-container">
      <div class="header-operating-mode">
        <p class="operating-mode-description">Работаем: Пн-Пт 9:00–19:00</p>
      </div>
      <div class="header-contacts">
        <div class="contact-email icon-mail-open">
          <p>info@tur-altai.com</p>
          <a href="mailto:info@tur-altai.com"></a>
        </div>
        <div class="contact-tel icon-phone">
          <p>+7 903 947-96-38</p>
          <a href="tel:+7 903 947-96-38"></a>
        </div>
        <div class="contact-messengers">
          <a class="vk icon-vk" href=""></a>
          <a class="youtube icon-youtube" href=""></a>
          <a class="whatsapp icon-whatsapp" href=""></a>
        </div>
      </div>
    </div>
  </div>
</header>
