.banner-block {
    background-image: url("css/img/bg-reviews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--white);
    height: 720px;
    display: block;

    &.inner-page {
        padding-top: 97px;
        max-height: 550px;

        @media screen and (max-width: 768px) {
            background-image: none !important;
            height: auto;
            max-height: 100%;
            color: var(--light-blue);
            padding-top: 68px;
        }

        .img-block {
            &.mobile {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;

                }

                img {
                    max-height: 91px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &::after {
            display: none;
        }

        .title {
            font-family: var(--font-unbounded);
            font-size: 80px;
            font-weight: 800;
            line-height: 99.2px;
            text-align: center;
            text-transform: uppercase;

            @media screen and (max-width: 990px) {
                font-size: 55px;
                line-height: 60.2px;
            }

            @media screen and (max-width: 768px) {
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
                padding-top: 60px;
            }
        }

        .wrap {
            @media screen and (max-width: 768px) {
                position: relative;
            }
        }

        .subtitle {
            text-align: center;
            margin: 18px 0 37px;

            @media screen and (max-width: 768px) {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: var(--black);
            }
        }

        button.button-gradient {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .type-tour {
            margin-top: 32px;
            position: relative;

            @media screen and (max-width: 990px) {
                position: absolute;
                bottom: 0;
                top: auto;
            }

            @media screen and (max-width: 768px) {
                bottom: auto;
                top: 16px;
                margin-top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }

            span {
                width: 80px;
                height: 80px;
                display: block;

                @media screen and (max-width: 768px) {
                    width: 40px;
                    height: 40px;
                }

                &::before {
                    color: var(--white);
                    font-size: 38px;

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }


    &.main-page {
        @media screen and (max-width: 600px) {
            height: 400px;
        }

        .banner-block__block-title {
            padding-top: 116px;
            max-width: 860px;
            margin: 0 auto;

            .top-subtitle {
                font-family: var(--font-unbounded);
                font-size: 64px;
                font-weight: 900;
                line-height: 79.36px;
                letter-spacing: 0.11em;
                text-transform: uppercase;
                filter: drop-shadow(0px 4.87px 29.22px rgba(36, 83, 125, 0.3));
                margin-left: 35px;

                @media screen and (max-width: 890px) {
                    font-size: 40px;
                    line-height: 40px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 21.56px;
                    line-height: 26.73px;
                    letter-spacing: 0.11em;
                    padding: 0 15px;
                }
            }

            .title {
                margin-top: -40px;
                font-family: var(--font-unbounded);
                font-size: 183.87px;
                font-weight: 800;
                line-height: 222px;
                background: linear-gradient(84.71deg, #FFFFFF 5.9%, #D6EEFF 64.51%, #FFFFFF 98.19%);
                background-clip: text;
                color: transparent;
                filter: drop-shadow(0px 4.87px 29.22px rgba(36, 83, 125, 0.3));

                @media screen and (max-width: 890px) {
                    font-size: 110px;
                    line-height: 138px;
                    margin-top: 0;
                }

                @media screen and (max-width: 600px) {
                    font-size: 61.93px;
                    line-height: 76.79px;
                    padding: 0 15px;
                }

                @media screen and (max-width: 340px) {
                    font-size: 57.93px;
                }
            }

            .under-subtitle {
                margin-top: -45px;
                font-family: var(--font-unbounded);
                font-size: 82.62px;
                font-weight: 800;
                line-height: 102.44px;
                background: linear-gradient(84.71deg, #FFFFFF 5.9%, #D6EEFF 64.51%, #FFFFFF 98.19%);
                background-clip: text;
                color: transparent;
                filter: drop-shadow(0px 4.87px 29.22px rgba(36, 83, 125, 0.3));
                text-transform: uppercase;

                @media screen and (max-width: 890px) {
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 0;
                }

                @media screen and (max-width: 600px) {
                    font-size: 27.83px;
                    line-height: 34.5px;
                    padding: 0 15px;
                }

                @media screen and (max-width: 340px) {
                    font-size: 25.83px;
                }
            }

            .description-block {
                background: var(--main-gradient);
                padding: 10px 139px 10px 40px;
                max-width: 950px;
                box-shadow: 0px 5.01px 30.06px 0px #24537D4D;
                clip-path: polygon(0 0, 70% 0, 69% 100%, 0% 100%);
                text-transform: uppercase;

                @media screen and (max-width: 600px) {
                    padding: 0 0 5px 20px;
                    clip-path: none;
                }
            }

            .description {
                font-family: var(--font-unbounded);
                font-size: 24px;
                font-weight: 500;
                line-height: 29.76px;
                letter-spacing: 0.04em;
                color: var(--white);
                display: inline-block;

                @media screen and (max-width: 890px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 8px;
                    line-height: 9.92px;
                    letter-spacing: 0.04em;
                }
            }
        }
    }

    &::after {
        content: "";
        background-image: url("css/img/mountain-banner.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        height: 189px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
}