.wrap {
    max-width: var(--width-page);
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 768px) {
        padding: 0 16px;
    }
}

body {
    font-family: var(--font-sans);
    color: var(--black);
}

#main {
    position: relative;
    flex: 1 1 100%;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    hyphens: auto;

    @media screen and (max-width: 600px) {
        line-height: 40px;
    }

    @media screen and (max-width: 500px) {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        background-size: 95%;
        hyphens: auto;
    }
}

h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);

    @media screen and (max-width: 500px) {
        font-size: 24px;
        font-weight: 800;
        line-height: 24px;
    }
}

h4 {
    font-weight: var(--h4-font-weight);
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);

    @media screen and (max-width: 500px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
}

.price {
    font-size: var(--price-font-size);
    font-weight: var(--price-font-weight);
    line-height: var(--price-line-height);

    @media screen and (max-width: 500px) {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
    }
}

.discount {
    font-size: var(--discount-font-size);
    font-weight: var(--discount-font-weight);
    line-height: var(--discount-line-height);
    color: var(--discount-color);
    text-decoration: line-through;

    @media screen and (max-width: 500px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.button-gradient {
    background: var(--button-gradient);
    border-radius: var(--border-radius);
    color: var(--white);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    padding: 10.5px 0;
}

.button {
    padding: 16.5px 0;
    max-width: 236px;
    width: 100%;
    background: var(--blue);
    border-radius: var(--border-radius);
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;

    @media screen and (max-width: 500px) {
        font-size: 14px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 6.5px 0;
    }
}

.button-sort {
    color: var(--black);
    border: 1px solid var(--light-gray);
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
    border-radius: var(--border-radius-little);

    .icon-main-sort-1 {
        font-size: 16px;
    }

    .icon-main-sort-2 {
        font-size: 22px;
    }
}

.button-border {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 8px 16px;
    background: var(--white-gradient) padding-box, var(--main-gradient) border-box;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: var(--border-radius-little);
}

.txt {
    font-size: var(--txt-font-size);
    font-weight: var(--txt-font-weight);
    line-height: var(--txt-line-height);

    @media screen and (max-width: 500px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}

.txt-s {
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
}

.block-logo {
    .link {
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;

        .logo-text {
            font-size: var(--logo-font-size);
            font-weight: var(--logo-font-weight);
            line-height: var(--logo-line-height);
            font-family: var(--font-unbounded);
            text-transform: uppercase;
            width: 85px;
            background: var(--main-gradient);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .description-title {
            font-family: var(--font-unbounded);
            font-size: 16px;
            font-weight: 300;
            line-height: 17px;
            text-transform: uppercase;
            max-width: 156px;
        }
    }

}

.not-index {
    margin-top: 85px;
}

.container {
    &.wrap {
        max-width: 1300px;
    }

    .row {
        display: flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .col-md-3 {
            flex: 28%;
        }

        .col-md-9 {
            flex: 72%;
        }

        .col-md-5 {
            flex: 44%;
        }

        .col-md-7 {
            flex: 56%;
        }

        @media screen and (max-width: 768px) {
            .col-sm-0 {
                flex: 0;
            }

            .col-sm-12 {
                flex: 100%;
            }
        }

    }
}

nav.woocommerce-pagination {
    padding: 10px 0;
    margin-bottom: 64px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;


    a.page-numbers.current {
        background: var(--pink);
        color: var(--white);
        border-radius: var(--border-radius-little);
        padding: 4px 7px;
        text-decoration: none;
    }

    a.page-numbers {
        padding: 4px 7px;
        text-decoration: none;
        color: var(--black);
    }
}

#breadcrumbs {
    margin: 0;
    padding: 8px 23px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    color: var(--gray);

    .breadcrums__block {
        display: flex;
        align-items: center;
    }

    span a {
        padding: 12px 0;
        color: var(--gray);
        text-decoration: none;
        font-family: 'altai_main' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &::after {
            content: "\e901";
            color: var(--blue);
            font-size: 20px;
            vertical-align: text-bottom;
        }
    }

    .breadcrums-link-text {
        font-family: "Inter", sans-serif;
        vertical-align: super;
    }

    .breadcrumb_last {
        color: var(--blue);
        margin-left: 4px;
    }
}

a.clear-filters {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--light-blue);
    text-decoration: none;
    text-wrap: nowrap;
    text-underline-offset: 0.1em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}



.circle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #4F2CE0;
    border-radius: 50%;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 24px;
    //top: 50%;
    right: 4px;
    //transform: translate(0, -50%);
    //z-index: -1;

    @media screen and (max-width: 500px) {
        width: 24px;
        height: 24px;
        top: 24px;
        transform: unset;
    }


    &.turn {
        background-color: var(--pink);
        top: 24px;
        transform: unset;

        &::before {
            transform: rotate(45deg);
        }

        .cross {
            transform: rotate(45deg);
            left: 24%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 19px;
        background-color: white;
        top: 11px;
        left: 19px;

        @media screen and (max-width: 500px) {
            height: 13px;
            top: 6px;
            left: 11px;
        }
    }
}

.cross {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);

    @media screen and (max-width: 500px) {
        width: 13px;
        left: 6px;
    }
}

.question {
    position: relative;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4F2CE066;
    z-index: 10;
    display: none;

    &.visible {
        display: block;
    }
}

.overflow-hidden {
    overflow: hidden;
}