.wrap {
    max-width: var(--width-page);
    margin: 0 auto;
    padding: 0 20px;
    z-index: 10;
    position: relative;

    @media screen and (max-width: 500px) {
        padding: 0 16px;
    }
}

body {
    font-family: var(--font-sans);
    color: var(--black);
}

#main {
    position: relative;
    flex: 1 1 100%;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    hyphens: auto;

    @media screen and (max-width: 600px) {
        line-height: 40px;
    }

    @media screen and (max-width: 500px) {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        background-size: 95%;
        hyphens: auto;
    }
}

h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);

    @media screen and (max-width: 500px) {
        font-size: 24px;
        font-weight: 800;
        line-height: 24px;
    }
}

h4 {
    font-weight: var(--h4-font-weight);
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);

    @media screen and (max-width: 500px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
}

.price {
    font-size: var(--price-font-size);
    font-weight: var(--price-font-weight);
    line-height: var(--price-line-height);

    @media screen and (max-width: 500px) {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
    }
}

.discount {
    font-size: var(--discount-font-size);
    font-weight: var(--discount-font-weight);
    line-height: var(--discount-line-height);
    color: var(--discount-color);
    text-decoration: line-through;

    @media screen and (max-width: 500px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.button-gradient {
    background: var(--button-gradient);
    border-radius: var(--border-radius);
    color: var(--white);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    padding: 10.5px 0;
}

.button {
    padding: 16.5px 0;
    max-width: 236px;
    width: 100%;
    background: var(--blue);
    border-radius: var(--border-radius);
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;

    @media screen and (max-width: 500px) {
        font-size: 14px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 6.5px 0;
    }
}

.button-sort {
    color: var(--black);
    border: 1px solid #DFDFDF;
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
    border-radius: var(--border-radius-little);

    .icon-sort-1 {
        font-size: 16px;
    }

    .icon-sort-2 {
        font-size: 22px;
    }
}

.button-border {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 8px 16px;
    background: var(--white-gradient) padding-box, var(--main-gradient) border-box;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: var(--border-radius-little);
}

.txt {
    font-size: var(--txt-font-size);
    font-weight: var(--txt-font-weight);
    line-height: var(--txt-line-height);

    @media screen and (max-width: 500px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}

.txt-s {
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
}

.block-logo {
    .link {
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;

        .logo-text {
            font-size: var(--logo-font-size);
            font-weight: var(--logo-font-weight);
            line-height: var(--logo-line-height);
            font-family: var(--font-unbounded);
            text-transform: uppercase;
            width: 85px;
            background: var(--main-gradient);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .description-title {
            font-family: var(--font-unbounded);
            font-size: 16px;
            font-weight: 300;
            line-height: 17px;
            text-transform: uppercase;
            max-width: 156px;
        }
    }

}


.banner-block {
    background-image: url("css/img/bg-reviews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--white);
    height: 720px;
    display: block;

    &::after {
        content: "";
        background-image: url("css/img/mountain-banner.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        height: 189px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
}

.not-index {
    margin-top: 85px;
}

.container {
    &.wrap {
        max-width: 1300px;
    }

    .row {
        display: flex;
        gap: 40px;

        .col-md-3 {
            flex: 28%;
        }

        .col-md-9 {
            flex: 72%;
        }

        @media screen and (max-width: 768px) {
            .col-sm-0 {
                flex: 0;
            }

            .col-sm-12 {
                flex: 100%;
            }
        }

    }
}

nav.woocommerce-pagination {
    padding: 10px 0;
    margin-bottom: 64px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;


    a.page-numbers.current {
        background: var(--pink);
        color: var(--white);
        border-radius: var(--border-radius-little);
        padding: 4px 7px;
        text-decoration: none;
    }

    a.page-numbers {
        padding: 4px 7px;
        text-decoration: none;
        color: var(--black);
    }
}

#breadcrumbs {
    margin: 0;
    padding: 16px 0;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    color: var(--gray);

    span a {
        color: var(--gray);
        text-decoration: none;
        position: relative;
        font-family: icomoon !important;
        speak: never;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        vertical-align: bottom;

        &::after {
            content: "\e901";
            color: var(--blue);
            font-size: 16px;
            vertical-align: text-bottom;
        }
    }

    .breadcrums-link-text {
        font-family: "Inter", sans-serif;
        vertical-align: super;
    }

    .breadcrumb_last {
        color: var(--blue);
    }
}