*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:invalid,
input:invalid:focus {
  border: 1px solid var(--pink);
  border-radius: var(--border-radius-little);
}

a {
  text-decoration: none;
  color: var(--black);
}

ul li {
  list-style: none;
}

img,
video,
canvas {
  overflow: hidden;
}

/* Скрываем встроенную иконку календаря */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 11;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  opacity: 0;
  z-index: 11;
}

/* Для IE и Edge */
input[type="date"]::-ms-clear {
  opacity: 0;
  z-index: 11;
}

input[type="checkbox"] {
  opacity: 0;
  height: 20px;
  width: 24px;
  z-index: 5;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

label {
  &:hover {
    cursor: pointer;
  }
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  border: 1px solid var(--light-blue);
  outline: 1px solid var(--light-blue);
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--light-blue);
  border: 1px solid var(--light-blue);
}


select {
  appearance: none;
  background: url(css/img/icon-down-little.svg) no-repeat right;
  background-position-x: calc(100% - 8px);
  border: 1px solid var(--light-gray);
  padding: 8px 8px 8px 10px;
  border-radius: var(--border-radius-little);
}

input[type="number"],
input[type="date"] {
  border: 1px solid var(--light-gray);
  padding: 5px;
  border-radius: var(--border-radius-little);

  &::placeholder {
    color: var(--gray);
  }
}

input[type="checkbox"]+label {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

input[type="checkbox"]:checked+.icon-main-checkbox-outline::before {
  content: "\e908";
}

.icon-main-checkbox-outline {
  margin-left: -28px;
  z-index: 0;
  position: relative;
  font-size: 24px;
  vertical-align: sub;
}

button {
  &:hover {
    cursor: pointer;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid var(--light-blue);
  border-radius: var(--border-radius);
  padding: 16px 24px;
  color: var(--black);

  &::placeholder {
    color: var(--black);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

  }

  @media screen and (max-width: 500px) {
    padding: 12px 24px;
  }
}