.sidebar {
    max-width: 315px;

    @media screen and (max-width: 768px) {
        &.mobile {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            transition: transform var(--transition);
            overflow: scroll;
            top: 100px;
            background-color: var(--white);
            height: calc(100% - 100px);
            width: 100%;
            left: 0;
            right: 0;
            max-width: 100%;
        }

        &.visible-mobile {
            visibility: unset;
            opacity: 1;
            z-index: 1000;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 10px 25px 10px;

        &_count {
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            color: var(--pink);
            vertical-align: super;
        }

        .mobile.close-link {
            display: none;
            border: none;
            background: none;

            @media screen and (max-width: 768px) {
                display: block;
            }

            span[class^="icon-"] {
                font-size: 24px;
            }
        }
    }

    &__form {

        &_button-block {
            display: flex;
            gap: 8px;
            max-width: 324px;
            justify-content: space-between;
            margin: 10px;

            .button-border {
                display: flex;
                align-items: center;
            }

            .button-gradient {
                border: none;
                max-width: 150px;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }
        }


    }

    .form {
        &__block {
            margin: 4px 0 15px 10px;

            &_more {
                display: none;
            }

            .show-all,
            .hide-all {
                font-size: 10px;
                font-weight: 400;
                line-height: 14px;
                color: var(--blue);

                span[class^="icon-"] {
                    font-size: 16px;
                    color: var(--blue);
                    vertical-align: middle;
                }
            }

            p.txt {
                margin-bottom: 5px;
            }

            .icon-main-checkbox-outline {
                margin-left: -28px;
                z-index: 0;
                position: relative;
                font-size: 24px;
                vertical-align: sub;


                &::before {
                    content: "\e90b";
                    opacity: 1;
                }
            }



            &_date {
                display: flex;
                justify-content: flex-start;
                gap: 8px;

                &_calendar {
                    position: relative;

                    input {
                        padding: 8px;
                    }
                }

                select {
                    width: 83px;
                }

                input.txt-s {
                    width: 217px;
                    font-family: var(--font-sans);
                }

                span[class^="icon-"] {
                    font-size: 24px;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 8px;
                }
            }

            &_three_column {
                grid-template-rows: repeat(4, 1fr);
                grid-auto-flow: column;
                margin: 2px auto 8px;
                grid-gap: 2px;
                gap: 2px 8px;
                display: grid;
            }
        }
    }

}